@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #ffffff;
  --color-accent: #10a154;
  --color-accent-light: #4ade80;
  --color-accent-dark: #15803d;
}

@utility strong-text {
  @apply text-accent font-semibold;
}

@utility prose-wrapper {
  @apply prose !max-w-none prose-p:text-primary prose-strong:text-accent prose-a:text-accent prose-headings:text-primary prose-li:text-primary prose-pre:wrap-break-word prose-pre:whitespace-pre-wrap;
}

@layer base {
    h1 {
        @apply text-4xl;
    }

    h2 {
        @apply text-2xl;
    }


    h3 {
        @apply text-2xl;
    }

    h4 {
        @apply text-xl;
    }

    body {
        min-height: 100vh;
        margin: 0;
        font-family: Sen;

        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    body::-webkit-scrollbar {
        width: 0px; 
    }

}